@model IEnumerable<wr_anit_cushman_one.Models.tsg036_colonias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cd_municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_estados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nb_colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nu_cp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fh_modif)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cd_municipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_estados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nb_colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nu_cp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fh_modif)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cd_colonias }) |
            @Html.ActionLink("Details", "Details", new { id=item.cd_colonias }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cd_colonias })
        </td>
    </tr>
}

</table>
