

@section headtag
{
    <script src="@Url.Content("~/Scripts/cboClasificacion.js")" type="text/javascript"></script>
    <script defer src="@Url.Content("~/Scripts/Naves.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.form.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

}

<div class="row">
    <div class="col-sm-12 mt-3">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <button type="button" class="btn btn-primary">Buscar</button>
        <button type="button" class="btn btn-primary">Nuevo</button>
    </div>
    <div class="col-sm-12 mt-3">
        <div id="googleMap" class="googleMap"></div>
    </div>
</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVgJmOkAmCfI7J20ffVOMkvmNXGApRikI&signed_in=true&libraries=drawing&callback=initMap2"></script>


